.header{
    background: $money
}

.header__content{
    display: flex;
    justify-content: flex-end;
    padding: $s-size 0;    
}

.header__title{
    color: $dark-gray;
    text-decoration: none;
    h1{
        margin: 0;
    }
}

.header__ExpenseList {
    font-weight: 400;
    font-size: large;
    color: $dark-gray;
    display: flex;
    justify-content: space-around;
    background:darken($piggy-pink, 10%) ;
}