.header{
    background: $money
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;    
}

.header__title{
    color: $dark-gray;
    text-decoration: none;
    h1{
        margin: 0;
    }
}