.text-input {
    border: 1px solid $money;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    background: $piggy-pink
}

.select {
    @extend .text-input;
    color: $dark-gray;
}

.text-area {
    @extend .text-input;
    height: 10rem;
}
