.button {
    height: 30;
    width: auto;
    text-align: center;
    background: $piggy-pink;
    padding: 10px;
    font-weight: 300;
    box-shadow: none; 
    border-radius: 10px;
    border: none;
    font-size: $font-size-large;
    color: $dark-gray;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border: 1px $money solid;
}

.button__coin {
    height: 30;
    width: auto;
    text-align: center;
    background: $money;
    padding: 10px;
    font-weight: 300;
    box-shadow: none; 
    border-radius: 10px;
    border: none;
    font-size: $font-size-large;
    color: $dark-gray;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border: 1px $piggy-pink solid;
}

.button--secondary {
    background: darken($piggy-pink, 20%);
    width: 180px;
    border: 1px $money solid;
}